docs/Boosty Email Monitor.json
{
  "name": "Boosty Email Monitor",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes"
            }
          ]
        }
      },
      "id": "5df0eace-64d5-418b-899b-a657ee80e7da",
      "name": "Every 5 Minutes",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        944,
        48
      ]
    },
    {
      "parameters": {
        "operation": "getAll",
        "returnAll": true,
        "filters": {
          "q": "={{ [\n  'from:boosty.to',\n  '(subject:\"новый подписчик\" OR subject:\"новый донат\")',\n  $('Get last ID').item.json.updated\n    ? 'after:' + DateTime.fromISO($('Get last ID').item.json.updated).toFormat('yyyy/MM/dd')\n    : ''\n].filter(Boolean).join(' ') }}",
          "readStatus": "both"
        }
      },
      "id": "cd387a49-1c60-4e55-94b3-5d01fa3d8a54",
      "name": "Fetch Boosty Emails",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        1616,
        48
      ],
      "webhookId": "c6a4eb42-d287-490a-b482-e0bbf813dfbe",
      "alwaysOutputData": false,
      "retryOnFail": true,
      "credentials": {
        "gmailOAuth2": {
          "id": "Tg6a5Pd2hG5J1zQ6",
          "name": "Gmail account SW"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Setup').item.json.web_hook_url }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { \"emailId\": $('Get a message').item.json.id, \"messageId\": $('Get a message').item.json.id, \"subject\": $('Get a message').item.json.subject, \"from\": $('Get a message').item.json.from.text, \"date\": $('Get a message').item.json.date, \"snippet\": $('Loop Over Emails').item.json.snippet, \"text\": $('Get a message').item.json.text, \"html\": $('Get a message').item.json.html } }}",
        "options": {}
      },
      "id": "40629aca-134e-4210-b37b-16d2e0783514",
      "name": "Call HTTPS Endpoint",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        2736,
        -112
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "5SmYQhQFsffVfbBM",
          "name": "Header Auth account"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "chatId": "={{ $('Setup').item.json.tg_admin_group_id }}",
        "text": "=🚨 Error processing Boosty email\n\nEmail ID: {{ $(\"Fetch Boosty Emails\").item.json.id }}\nSubject: {{ $(\"Fetch Boosty Emails\").item.json.Subject }}\nError: {{ $json.error.message }}",
        "additionalFields": {
          "parse_mode": "MarkdownV2"
        }
      },
      "id": "8159682b-7f0d-4c07-b31d-c941fd1a016a",
      "name": "Log Error to Telegram",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        3184,
        16
      ],
      "webhookId": "303003cd-57cf-42f7-b713-3651b367e997",
      "credentials": {
        "telegramApi": {
          "id": "SHYvsPbit15MbdDb",
          "name": "Telegram dev test"
        }
      }
    },
    {
      "parameters": {},
      "id": "511e4986-abef-4bb3-9070-36bde5fb4789",
      "name": "Wait 5 Seconds",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        3408,
        -176
      ],
      "webhookId": "057e9377-418e-417c-b29e-173765b60c06"
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "e67dc29a-b92f-4a61-8438-6d08a965e31d",
      "name": "Loop Over Emails",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1840,
        -80
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "19ec6745-6701-48fc-a3d5-3b10dca2c27c",
              "name": "tg_admin_group_id",
              "value": "-1003782734852",
              "type": "string"
            },
            {
              "id": "9f8d5957-faa0-46b0-9611-f88d611d8204",
              "name": "web_hook_url",
              "value": "https://storywalkers-b4fdf--dev-8rn9qkkj.web.app/webhooks/gmail",
              "type": "string"
            },
            {
              "id": "264eb99d-43da-4dde-be87-920a4652e075",
              "name": "SW_API_KEY",
              "value": "jl2629lfahnfuj4s7bmtg8r0q9o3bcqc",
              "type": "string"
            },
            {
              "id": "a24c5ad5-1853-4a43-9945-00a61be5202c",
              "name": "database",
              "value": "testing",
              "type": "string"
            },
            {
              "id": "9467c7b6-8c98-40c9-890a-82456c217dcb",
              "name": "mail_id_key",
              "value": "last_gmail_id",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1168,
        48
      ],
      "id": "ac11eb1a-5533-4ab9-93df-da5720568d31",
      "name": "Setup"
    },
    {
      "parameters": {
        "jsCode": "// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nfor (const item of $input.all()) {\n  const data = item.json.error;\n  let text = data.name + \" \" + data.message;\n  text = text.replaceAll(\"_\", \"\\\\_\");\n  text = text.replaceAll(\"*\", \"\\\\*\");\n  text = text.replaceAll(\"[\", \"\\\\[\");\n  text = text.replaceAll(\"]\", \"\\\\]\");\n  text = text.replaceAll(\"(\", \"\\\\(\");\n  text = text.replaceAll(\")\", \"\\\\)\");\n  text = text.replaceAll(\"~\", \"\\\\~\");\n  text = text.replaceAll(\"`\", \"\\\\`\");\n  text = text.replaceAll(\">\", \"\\\\>\");\n  text = text.replaceAll(\"#\", \"\\\\#\");\n  text = text.replaceAll(\"+\", \"\\\\+\");\n  text = text.replaceAll(\"-\", \"\\\\-\");\n  text = text.replaceAll(\"=\", \"\\\\=\");\n  text = text.replaceAll(\"|\", \"\\\\|\");\n  text = text.replaceAll(\"{\", \"\\\\{\");\n  text = text.replaceAll(\"}\", \"\\\\}\");\n  text = text.replaceAll(\".\", \"\\\\.\");\n  text = text.replaceAll(\"!\", \"\\\\!\");\n  item.json.error.message = text;\n}\n\nreturn $input.all();\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2960,
        16
      ],
      "id": "f1acbe7a-f7e2-41af-aa91-a9ccc6f2ae44",
      "name": "Map Error Message"
    },
    {
      "parameters": {
        "operation": "get",
        "messageId": "={{ $json.id }}",
        "simple": false,
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        2064,
        -176
      ],
      "id": "7cd5d4a5-84e2-4077-be30-879c4c8a8ee7",
      "name": "Get a message",
      "webhookId": "fc6107f0-96a0-452b-b1eb-d15cde2b9469",
      "credentials": {
        "gmailOAuth2": {
          "id": "Tg6a5Pd2hG5J1zQ6",
          "name": "Gmail account SW"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "last-read-id",
              "name": "gmail_id",
              "value": "={{ $('Get a message').item.json.id }}",
              "type": "string"
            },
            {
              "id": "updated-timestamp",
              "name": "updated",
              "value": "={{ $('Get a message').item.json.date > $('Get last ID').item.json.updated ? $('Get a message').item.json.date : $('Get last ID').item.json.updated }}",
              "type": "string"
            },
            {
              "id": "0752eeb2-93de-4bc1-a500-f1459ea35028",
              "name": "updateKey",
              "value": "={{ $('Setup').item.json.mail_id_key }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "2f2be4fc-088c-4329-bf87-71d404eb0fc1",
      "name": "Store Last Read ID",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        3632,
        -176
      ]
    },
    {
      "parameters": {
        "projectId": "storywalkers-b4fdf",
        "database": "={{ $json.database }}",
        "collection": "config",
        "documentId": "={{ $json.mail_id_key }}"
      },
      "type": "n8n-nodes-base.googleFirebaseCloudFirestore",
      "typeVersion": 1.1,
      "position": [
        1392,
        48
      ],
      "id": "eded880a-f17f-476e-b601-7af8d57acf9a",
      "name": "Get last ID",
      "alwaysOutputData": true,
      "credentials": {
        "googleFirebaseCloudFirestoreOAuth2Api": {
          "id": "wBd3vVLjHUcvf8sV",
          "name": "Google Firebase Cloud Firestore account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "chatId": "={{ $('Setup').item.json.tg_admin_group_id }}",
        "text": "={{ $('Fetch Boosty Emails').all().length }} message(s) processed",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        2064,
        -368
      ],
      "id": "a7cc848f-ff03-4d7e-8240-0801ad3f9699",
      "name": "Send the final message",
      "webhookId": "c57a3b4a-fc60-40c4-bafd-e0dd3f39ed7c",
      "executeOnce": true,
      "credentials": {
        "telegramApi": {
          "id": "SHYvsPbit15MbdDb",
          "name": "Telegram dev test"
        }
      }
    },
    {
      "parameters": {
        "operation": "upsert",
        "projectId": "storywalkers-b4fdf",
        "database": "={{ $('Setup').item.json.database }}",
        "collection": "config",
        "updateKey": "updateKey",
        "columns": "gmail_id,updated"
      },
      "type": "n8n-nodes-base.googleFirebaseCloudFirestore",
      "typeVersion": 1.1,
      "position": [
        3856,
        -32
      ],
      "id": "6b5f76d1-6edf-480b-acb1-15b623ca7901",
      "name": "Update a lastRead marker",
      "credentials": {
        "googleFirebaseCloudFirestoreOAuth2Api": {
          "id": "wBd3vVLjHUcvf8sV",
          "name": "Google Firebase Cloud Firestore account"
        }
      }
    },
    {
      "parameters": {
        "projectId": "storywalkers-b4fdf",
        "database": "={{ $('Setup').item.json.database }}",
        "collection": "gmail_dedupe",
        "documentId": "={{ $('Get a message').item.json.id }}"
      },
      "type": "n8n-nodes-base.googleFirebaseCloudFirestore",
      "typeVersion": 1.1,
      "position": [
        2288,
        -176
      ],
      "id": "1bb54ff6-e015-4f45-98e7-3a76360dcc40",
      "name": "Lookup Processed Message",
      "alwaysOutputData": true,
      "credentials": {
        "googleFirebaseCloudFirestoreOAuth2Api": {
          "id": "wBd3vVLjHUcvf8sV",
          "name": "Google Firebase Cloud Firestore account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "is-new-message",
              "leftValue": "={{ !$json.id }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2512,
        -112
      ],
      "id": "938d9f03-e804-467e-b96e-c6657957dd8e",
      "name": "Is New Message?"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "dedupe-message-id",
              "name": "messageId",
              "value": "={{ $('Get a message').item.json.id }}",
              "type": "string"
            },
            {
              "id": "dedupe-subject",
              "name": "subject",
              "value": "={{ $('Get a message').item.json.subject }}",
              "type": "string"
            },
            {
              "id": "dedupe-date",
              "name": "date",
              "value": "={{ $('Get a message').item.json.date }}",
              "type": "string"
            },
            {
              "id": "dedupe-processed-at",
              "name": "processedAt",
              "value": "={{ $now.toISO() }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2960,
        -176
      ],
      "id": "5310b39a-31e5-4ae9-bc31-d0aa8b79e86c",
      "name": "Prepare Dedupe Record"
    },
    {
      "parameters": {
        "operation": "upsert",
        "projectId": "storywalkers-b4fdf",
        "database": "={{ $('Setup').item.json.database }}",
        "collection": "gmail_dedupe",
        "columns": "messageId,subject,date,processedAt"
      },
      "type": "n8n-nodes-base.googleFirebaseCloudFirestore",
      "typeVersion": 1.1,
      "position": [
        3184,
        -176
      ],
      "id": "a4fa5798-4827-43a4-80f2-d25e89279d64",
      "name": "Mark Message Processed",
      "credentials": {
        "googleFirebaseCloudFirestoreOAuth2Api": {
          "id": "wBd3vVLjHUcvf8sV",
          "name": "Google Firebase Cloud Firestore account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Every 5 Minutes": {
      "main": [
        [
          {
            "node": "Setup",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Boosty Emails": {
      "main": [
        [
          {
            "node": "Loop Over Emails",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Map Error Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call HTTPS Endpoint": {
      "main": [
        [
          {
            "node": "Prepare Dedupe Record",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Map Error Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 5 Seconds": {
      "main": [
        [
          {
            "node": "Store Last Read ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Emails": {
      "main": [
        [
          {
            "node": "Send the final message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Setup": {
      "main": [
        [
          {
            "node": "Get last ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Map Error Message": {
      "main": [
        [
          {
            "node": "Log Error to Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a message": {
      "main": [
        [
          {
            "node": "Lookup Processed Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Store Last Read ID": {
      "main": [
        [
          {
            "node": "Update a lastRead marker",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get last ID": {
      "main": [
        [
          {
            "node": "Fetch Boosty Emails",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update a lastRead marker": {
      "main": [
        [
          {
            "node": "Loop Over Emails",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Lookup Processed Message": {
      "main": [
        [
          {
            "node": "Is New Message?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is New Message?": {
      "main": [
        [
          {
            "node": "Call HTTPS Endpoint",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Loop Over Emails",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Dedupe Record": {
      "main": [
        [
          {
            "node": "Mark Message Processed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mark Message Processed": {
      "main": [
        [
          {
            "node": "Wait 5 Seconds",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "DlW9onTw8HgCl3iS"
  },
  "versionId": "23cbd8f0-381a-4359-9a77-2b8489512c5c",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "899d4ada7c2a91af1ad45b3d93cbd7a60489e825ced40cd449109d52bd341227"
  },
  "id": "G7aOvPsmze8twcOC",
  "tags": []
}